In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from scipy import stats

#functions
import wrangleag as w
import exploreag as exp



warnings.filterwarnings("ignore")

#evaluate
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression 
from statsmodels.formula.api import ols
import sklearn.preprocessing

#feature engineering
from sklearn.cluster import KMeans
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df, train, validate, test = w.wrangle_zillow()

In [3]:
df.head()

,bathrooms,bedrooms,property_quality,sqft,fips,latitude,longitude,lot_sqft,rawcensustractandblock,regionidcity,...,yearbuilt,structure_value,home_value,land_value,taxamount,logerror,transactiondate,county,home_age,logerror_quartiles
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,2.0,3,8,2107.0,6037,34222559.0,-118617387.0,9158.0,6.037113e+07,12447.0,...,1972,249655.0,624139.0,374484.0,7659.36,-0.007357,2017-07-07,Los_Angeles,49,q2
10711877,2.0,4,8,1882.0,6037,34220261.0,-118616409.0,9035.0,6.037113e+07,12447.0,...,1972,253000.0,660000.0,407000.0,8123.91,0.021066,2017-08-29,Los_Angeles,49,q3
10711888,2.0,4,8,1882.0,6037,34222491.0,-118616854.0,9800.0,6.037113e+07,12447.0,...,1972,257591.0,542923.0,285332.0,6673.24,0.077174,2017-04-04,Los_Angeles,49,q4
10711910,2.0,3,8,1477.0,6037,34221864.0,-118615739.0,11285.0,6.037113e+07,12447.0,...,1960,57968.0,78031.0,20063.0,1116.46,-0.041238,2017-03-17,Los_Angeles,61,q1
10711923,2.0,4,8,1918.0,6037,34220619.0,-118615253.0,11239.0,6.037113e+07,12447.0,...,1960,167869.0,415459.0,247590.0,5239.85,-0.009496,2017-03-24,Los_Angeles,61,q2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71818 entries, 10711855 to 162960814
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bathrooms               71818 non-null  float64
 1   bedrooms                71818 non-null  int64
 2   property_quality        71818 non-null  int64
 3   sqft                    71818 non-null  float64
 4   fips                    71818 non-null  int64
 5   latitude                71818 non-null  float64
 6   longitude               71818 non-null  float64
 7   lot_sqft                71818 non-null  float64
 8   rawcensustractandblock  71818 non-null  float64
 9   regionidcity            71818 non-null  float64
 10  zip_code                71818 non-null  int64
 11  roomcnt                 71818 non-null  int64
 12  unitcnt                 71818 non-null  int64
 13  yearbuilt               71818 non-null  int64
 14  structure_value         71818 non-null  float64
 15  home_value              71818 non-null  float64
 16  land_value              71818 non-null  float64
 17  taxamount               71818 non-null  float64
 18  logerror                71818 non-null  float64
 19  transactiondate         71818 non-null  object
 20  county                  71818 non-null  object
 21  home_age                71818 non-null  int64
 22  logerror_quartiles      71818 non-null  category
dtypes: category(1), float64(12), int64(8), object(2)
memory usage: 12.7+ MB